.chat_inter {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    height: 30px;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    width: 30px;
    right: 20px;
    background-color: rgba(133, 142, 169, 0.73);
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    _position: fixed;
    overflow: visible;
}

.chat_inter_online {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    height: 30px;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    width: 30px;
    right: 20px;
    background-color: rgba(66, 169, 10, 0.73);
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    _position: fixed;
    overflow: visible;
}

.notify {
    z-index: 998;
    position: fixed;
    bottom: 1px;
    height: 50px;
    width: 100%;
    margin-bottom: 1px;
    text-align: center;
    line-height: 25px;
    _position: fixed;
    _top: expression_r(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
    overflow: visible;
}

.alert_close {
    margin-right: 50px;
}

.notify_choose_label {
    margin-top: 1px;
}
