<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.straw.nettycore.mybatis.cascade.mapper.FemaleHealthMapper">
    <resultMap id="resultMap" type="femaleHealth">
        <id property="id" column="id"/>
        <result property="item" column="item"/>
    </resultMap>
    <select id="selectAll" resultMap="resultMap">
        SELECT  * from female_health limit 1
    </select>
</mapper>