<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="t3/db.properties"/>
    <typeAliases>
        <typeAlias type="com.straw.nettycore.mybatis.cascade.model.Student" alias="student"/>
        <typeAlias type="com.straw.nettycore.mybatis.cascade.model.StudentCard" alias="studentCard"/>
        <typeAlias type="com.straw.nettycore.mybatis.cascade.model.Lesson" alias="lesson"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler  handler="com.straw.nettycore.mybatis.cascade.type.SexEnumTypeHandler" javaType="com.straw.nettycore.mybatis.cascade.model.Sex"/>
    </typeHandlers>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="com.straw.nettycore.mybatis.mysession.DbcpDataSourceFactory">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper  resource="t3/StudentMapper.xml"/>
        <mapper resource="t3/StudentCardMapper.xml"/>
        <mapper resource="t3/LessonMapper.xml"/>
    </mappers>
</configuration>